// Variables

$white: #fff;
$mostly-desaturated-dark-blue: #506a85;
$light-grayish-blue: #f5f7fb;


// Styles

.logotype {
  background: url("../img/logo.png");
  width: 161px;
  height: 40px;
  display: block;
}

.main-menu {
  &__item {
    list-style: none;
    text-transform: uppercase;
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 700;
    padding: 0 22px 0;

    &:first-child {
      padding: 0 22px 0 0;
    }

    &:last-child {
      padding: 0 0 0 22px;
    }
  }

  &__link {
    color: $mostly-desaturated-dark-blue;
    font-family: 'Source Sans Pro', sans-serif;
  }
}

.top-line {
  background: $light-grayish-blue;
}

.top-nav-box {
  padding: 36px 0px;
}

.main-heading {
  color: $white;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 78px;
  text-align: center;
}

.main-heading-box {
  background: url("../img/heading-bg.png");
}