!!! 5
%html
  %head
    %meta(charset='utf-8')
    %title Reen
    %link{:rel => :stylesheet, :href => "base.min.css"}
    %link{:rel => :stylesheet, :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"}

  %body

    .container
      .row
        .col-md-12
          .email info@reen.com
          .phone +00 (123) 456 78 90
          .social-buttons

      .row
        .col-md-3
          %a.logotype{:href => '/'}

        .col-md-6
          %ul.main-menu
            %li.main-menu__item
              %a.link.main-menu__link{:href => '/'} Home
            %li.main-menu__item
              %a.link.main-menu__link{:href => '/'} Portfolio
            %li.main-menu__item
              %a.link.main-menu__link{:href => '/'} Blog
            %li.main-menu__item
              %a.link.main-menu__link{:href => '/'} Pages
            %li.main-menu__item
              %a.link.main-menu__link{:href => '/'} Features
            %li.main-menu__item
              %a.link.main-menu__link{:href => '/'} Mega menu
            %li.main-menu__item
              %a.link.main-menu__link{:href => '/'} Contact

        .col-md-3
          .search

    %link{:href => 'http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700', :rel => 'stylesheet', :type => 'text/css'}



