.button
  border 0
  outline 0

.button-primary
  background #00bc9c
  color #fff
  padding 25px 70px
  font-family 'Source Sans Pro'
  font-size 19px
  font-weight 700
  letter-spacing .45px
  text-align center
  text-transform uppercase
  box-shadow 0 2px 2px #17a78b
