.main-menu
  padding 11px 0 10px

.main-menu__item
  list-style none
  text-transform uppercase
  display inline-block
  font-family 'Source Sans Pro', sans-serif
  font-size 15px
  font-weight 700
  padding 0 22px 0
  text-decoration none
  &:first-child
    padding 0 22px 0 0
  &:last-child
    padding 0 0 0 22px

.main-menu__link
  color #506a85
  font-family 'Source Sans Pro', sans-serif
