.portfolio
  margin 0 0 80px

.portfolio__item
  margin 0
  display block
  overflow hidden
  background #fdfdfd
  padding 0 0 27px 0

.portfolio__img
  display block

.portfolio__heading
  font-family 'Lato', sans-serif
  color #506a85
  font-size 20px
  font-weight 700
  line-height 26px
  text-align center
  margin 29px 0 6px

.portfolio__text
  font-family 'Source Sans Pro'
  color  #73879c
  font-size 14px
  font-weight 400
  letter-spacing 0.28px
  line-height 22px
  text-align center
  margin 0
