.portfolio
  margin 0 0 80px

  &__item
    margin 0
    display block
    overflow hidden
    background #fdfdfd
    padding 0 0 27px 0

  &__img
    display block
    max-width 100%

  &__heading
    font-family 'Lato', sans-serif
    color #506a85
    font-size 20px
    font-weight 700
    line-height 26px
    text-align center
    margin 29px 0 6px

  &__text
    font-family 'Source Sans Pro', sans-serif
    color  #73879c
    font-size 14px
    font-weight 400
    letter-spacing 0.28px
    line-height 22px
    text-align center
    margin 0
