footer
  .footer-top
    .container.container_4-equal
      .column
        h3.heading__h3 Who we are
        p.plain-text_inverse Magnis modipsae voloratati andigen daepeditem quiate re porem que aut labor. Laceaque eictemperum quiae sitiorem rest non restibusaes maio es dem tumquam.
        a.read-more(href= '#') More about us
      .column
        h3.heading__h3 Latest works
        .latest-works
          .latest-works__column
            a.latest-works__item(href= '#')
              .latest-works__img.desktop
            a.latest-works__item(href= '#')
              .latest-works__img.mobile
          .latest-works__column
            a.latest-works__item(href= '#')
              .latest-works__img.vinyl
            a.latest-works__item(href= '#')
              .latest-works__img.grand-hotel
      .column
        h3.heading__h3 Get in touch
        p.plain-text_inverse Doloreiur quia commolu ptatemp dolupta oreprerum tibusam eumenis et consent accullignis dentibea autem inisita.
        p.plain-text_inverse
          | 84 Street, City, State 24813
          br
          a.plain-text_inverse(href='tel:00-123-456-78-90') +00 (123) 456 78 90
          br
          a.plain-text_inverse(href='mailto:info@reen.com') info@reen.com
      .column
        h3.heading__h3 Free updates
        p.plain-text_inverse Conecus iure posae volor remped modis aut lor volor accabora incim resto explabo.
        form
          input(type='email', placeholder='Enter your email address')
          button(type='submit') Subscribe
  .footer-bottom
    .container.container_2-equal
      .column
        p.footer-copyright
          | ©
          time 2016
          |  REEN. All rights reserved.
      .column
        include ../dot-separated-menu/dot-separated-menu.pug
