.work-with-us
  margin 0

.work-with-us__heading
  font-family Lato
  color  #506a85
  font-size 44px
  font-weight 700
  line-height 54px
  text-align center

.work-with-us__text
  font-family 'Source Sans Pro'
  color  #73879c
  font-size 22px
  font-weight 400
  letter-spacing 0.22px
  line-height 34px
  text-align center

.work-with-us__button
  margin 0 auto
  display block
