doctype html
html(lang= 'en')
  head
    meta(charset= 'utf-8')
    title Reen
    meta(name= 'viewport', content= 'width=device-width, initial-scale=1, shrink-to-fit=no')
    link(href= 'css/above-the-fold.css', rel= 'stylesheet')
    link(href= 'css/main.css', rel= 'stylesheet', media=' bogus')
    link(href= 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Lato:700,900', rel='stylesheet', media='bogus')
  body
    include ../blocks/header/header
    main
      section.promo-box
        .container
          .row
            .col-md-12
              h1.promo-box__heading Made for designers
              p.promo-box__text Create your online portfolio in minutes with the professionally and lovingly designed REEN website template. Customize your site with versatile and easy to use features
              button.promo-box__button.button.button-primary Get started now
      section.info-section
        .container
          .row
            .col-md-12
              h2.work-with-us__heading Beautiful. Clean. Responsive.
              p REEN is a high-quality solution for those who want a beautiful website in no time. It's fully responsive and will adapt itself to any mobile device. iPad, iPhone, Android, it doesn't matter. Your content will always looks its absolute best.
              span.glyphicon.glyphicon-heart-empty
              span.glyphicon.glyphicon-heart-empty
              span.glyphicon.glyphicon-star-empty
      section.info-section
        .container
          .row
            .col-md-12
              h2.work-with-us__heading Check out our latest works
              p Magnis modipsae que voloratati andigen daepeditem  quiate re porem aut labor.
          .portfolio
            .row
              .col-md-6
                .portfolio__item
                  img.portfolio__img(src= 'img/latest-works/grand-motel.jpg')
                  h3.portfolio__heading Grand Motel gets an identity brushup
                  p.portfolio__text Identity
              .col-md-6
                .portfolio__item
                  img.portfolio__img(src= 'img/latest-works/brand-book.jpg')
                  h3.portfolio__heading Fresh branding for a creative startup
                  p.portfolio__text Identity
          .carousel
            .row
              .col-md-3
                .carousel__item
                  a.carousel__link(href= '#')
                    img.carousel__img(src= 'img/latest-works/autor-and-yancy.jpg')
              .col-md-3
                .carousel__item
                  a.carousel__link(href= '#')
                    img.carousel__img(src= 'img/latest-works/signwall.jpg')
              .col-md-3
                .carousel__item
                  a.carousel__link(href= '#')
                    img.carousel__img(src= 'img/latest-works/simpli-nota.jpg')
              .col-md-3
                .carousel__item
                  a.carousel__link(href= '#')
                    img.carousel__img(src= 'img/latest-works/vinyl.jpg')
            .carousel-nav
              button.carousel-nav__item(type= 'button')
              button.carousel-nav__item.carousel-nav__item_active(type= 'button')
              button.carousel-nav__item(type= 'button')
      section.info-section
        .container
          .work-with-us
            h2.work-with-us__heading Want to work with us?
            p.work-with-us__text Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam.
            button.work-with-us__button.button.button-small get in touch
    include ../blocks/footer/footer
    link(href= 'css/main.css', rel= 'stylesheet')
    link(href= 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Lato:700,900', rel='stylesheet')
