.promo-box
  background #506a85 url('../img/get-started-bg.jpg')
  padding 280px 0 300px
  height 880px
  box-sizing border-box

.promo-box__heading
  color #fff
  text-transform uppercase
  font-family 'Lato', sans-serif
  font-weight 900
  font-size 78px
  text-align center
  margin 0

.promo-box__text
  font-family 'Source Sans Pro'
  color  #a3b1bf
  font-size 24px
  font-weight 400
  letter-spacing 0.48px
  line-height 33px
  text-align center
  margin 11px 0 60px 0

.promo-box__button
  margin 0 auto
  display block

.info-section
  background #f2f5f7
  padding 135px 0 143px
  &:nth-child(even)
    background #fdfdfd
