.carousel
  margin 0

  &__item
    margin 0
    display block

  &__img
    display block

  &__link
    display block
    overflow hidden

.carousel-nav
  margin 50px auto 0
  font-size 0
  text-align center

  &__item
    border none
    display inline-block
    width 15px
    height 15px
    border-radius 100%
    background #506a85
    margin 0 10px 0 0
    &:last-child
      margin 0
    &:focus
      outline none

    &_active
      background #00bc9c
