.carousel
  margin 0

.carousel__item
  margin 0
  display block

.carousel__img
  display block

.carousel__link
  display block
  overflow hidden

.carousel-nav
  margin 50px auto 0
  font-size 0
  text-align center

.carousel-nav__item
  border none
  outline none
  display inline-block
  width 15px
  height 15px
  border-radius 100%
  background #506a85
  margin 0 10px 0 0
  &:last-child
    margin 0

.carousel-nav__item_active
  background #00bc9c
