@import '../blocks/carousel/carousel'
@import '../blocks/main-menu/main-menu'
@import '../blocks/work-with-us/work-with-us'
@import '../blocks/portfolio/portfolio'
@import '../blocks/footer-top/footer-top'
@import '../blocks/latest-works/latest-works'
@import '../blocks/footer-bottom/footer-bottom'
@import '../blocks/dot-separated-menu/dot-separated-menu'

@import 'sprite'
sprites($spritesheet_sprites);
