// Variables

white = #fff
mostly-desaturated-dark-blue = #506a85
light-grayish-blue = #f5f7fb
strong-cyan = #00bc9c
dark-cyan = #17a78b


// Styles

logotype
  background url('../img/logo.png')
  width 161px
  height 40px
  display block


.main-menu
  
  .main-menu__item
    list-style none
    text-transform uppercase
    display inline-block
    font-family 'Source Sans Pro', sans-serif
    font-size 15px
    font-weight 700
    padding 0 22px 0

    .main-menu__item:first-child
      padding 0 22px 0 0

    .main-menu__item:last-child
      padding 0 0 0 22px
    

  .main-menu__link
    color mostly-desaturated-dark-blue
    font-family 'Source Sans Pro', sans-serif
    

.top-line
  background light-grayish-blue

.top-nav-box
  padding 36px 0px

.main-heading
  color white
  text-transform uppercase
  font-family 'Lato', sans-serif
  font-weight 900
  font-size 78px
  text-align center
  margin 0

.main-heading-box
  background url('../img/heading-bg.png')
  padding 280px 0 300px

.button
  border 0
  outline 0

.button-primary
  background strong-cyan
  color white
  padding 25px 70px
  font-family 'Source Sans Pro'
  font-size 19px
  font-weight 700
  letter-spacing .45px
  text-align center
  text-transform uppercase
  box-shadow 0 2px 2px dark-cyan
