.work-with-us
  margin 0

.work-with-us__heading
  font-family Lato, sans-serif
  color  #506a85
  font-size 44px
  font-weight 700
  line-height 54px
  text-align center
  margin 0 0 31px

.work-with-us__text
  font-family 'Source Sans Pro', sans-serif
  color  #73879c
  font-size 22px
  font-weight 400
  letter-spacing 0.22px
  line-height 36px
  text-align center
  padding 0 160px
  margin 0

.work-with-us__button
  margin 41px auto 0
  display block
