// Button
//
// Your standard button suitable for clicking.
//
// :hover   - Highlights when hovering.
// .shiny   - Do not press this big, shiny, red button.
//
// Markup: button.html
//
// Style guide: components.button

.button
  border 0
  cursor pointer
  &:focus
    outline 0

.button-primary
  line-height 1
  background #00bc9c
  color #fff
  padding 23px 66px 21px
  font-family 'Source Sans Pro', sans-serif
  font-size 19px
  font-weight 700
  letter-spacing .45px
  text-align center
  text-transform uppercase
  border-bottom 2px solid #009F84
  &:hover
    opacity .9

.button-small
  line-height 1
  background #00bc9c
  color #fff
  padding 20px 33px 18px
  font-family 'Source Sans Pro', sans-serif
  font-size 15px
  font-weight 700
  letter-spacing .45px
  text-align center
  text-transform uppercase
  border-bottom 2px solid #009F84
  &:hover
    opacity .9
