.latest-works
  &:before,
  &after
    display table
    content ''
    clear both

  &__column
    margin 0
    overflow hidden
    float left
    padding 0 5px 0 0
    &:nth-child(even)
      padding 0

  &__item
    display block
    position relative
    min-height 1px
    width 125px
    height 85px
    padding 0 0 5px 0
    &:last-child
      padding 0

  &__img
    background-image url($desktop_image)


sprite($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)

sprites($spritesheet_sprites)
