.footer-top
  background #2f4052

.footer-bottom
  background #283645
  padding 34px 0

.footer-menu
  float right

.footer-copyright
  font-family 'Source Sans Pro', sans-serif
  color #707e8c
  font-size 14px
  font-weight 400
  letter-spacing .28px
  text-align left
  margin 0
