.promo-box
  background url('../img/get-started-bg.png')
  padding 280px 0 300px
  height 880px
  box-sizing border-box

.promo-box__heading
  color #fff
  text-transform uppercase
  font-family 'Lato', sans-serif
  font-weight 900
  font-size 78px
  text-align center
  margin 0

.promo-box__text
  font-family 'Source Sans Pro'
  color  #a3b1bf
  font-size 24px
  font-weight 400
  letter-spacing 0.48px
  line-height 33px
  text-align center
  margin 11px 0 60px 0

.promo-box__button
  margin 0 auto
  display block

.background_grayish
  background #f2f5f7
  padding 0 0 152px

.background_light-gray
  background #fdfdfd
