.dot-separted-menu
  overflow hidden
  margin 0

.dot-separted-menu__item
  float left
  display block
  padding 0 28px 0 0
  &:last-child
    padding 0

.dot-separted-menu__link
  font-family 'Source Sans Pro', sans-serif
  color #707e8c
  font-size 14px
  font-weight 400
  letter-spacing .28px
  line-height 22px
  text-align right
  &:hover
    color #707e8c
    text-decoration none
    opacity .8
