.container_menu-and-logo
  grid-template-areas 'logo' 'menu' 'search'
  @media (min-width 576px)
    grid-template-areas 'logo menu search'

.grid-logo
  grid-area logo

.grid-menu
  grid-area menu

.grid-search
  grid-area search

.logotype
  background url('../img/logo.png')
  width 161px
  height 40px
  display block

.top-line
  background #f5f7fb
  box-shadow 0 1px 0 0 #e6e9ed

.top-nav-box
  padding 6px 0
  @media (min-width 576px)
    padding 36px 0

header-text()
  font-family 'Source Sans Pro', sans-serif
  color #506a85
  font-size 12px
  font-weight 400
  text-align left

.header-email
  header-text()

.header-phone
  header-text()
  margin-left: 10px
