header
  .top-line
    .container
      .column
        span.glyphicon.glyphicon-mail
        a.header-email(href='mailto:info@reen.com') info@reen.com
        span.glyphicon.glyphicon-phone
        a.header-phone(href='tel:1-123-456-7890') +1 (123) 456 78 90
        .header-social-buttons
  .top-nav-box
    .container.container_menu-and-logo
      .grid-logo
        a.logotype(href= '#')
      .grid-menu
        nav.main-menu
          each val in ['Home', 'Portfolio', 'Blog', 'Pages', 'Features', 'Mega menu', 'Contact']
            a.link.main-menu__link.main-menu__item(href= '#')= val
      .grid-search
        .search
