.button
  border 0
  outline 0

.button-primary
  line-height 1
  background #00bc9c
  color #fff
  padding 23px 66px 21px
  font-family 'Source Sans Pro'
  font-size 19px
  font-weight 700
  letter-spacing .45px
  text-align center
  text-transform uppercase
  border-bottom 2px solid #009F84
  &:hover
    opacity .9
